.navbar-brand {
    background-color: #29b8e4;
    padding: 25px;
    text-align: left;
    font-size: 30px;
  }

.nav-link {
    text-align: left;
}

.card {
    margin: auto; /* Added */
    float: auto; /* Added */
    margin-bottom: auto; /* Added */
}

